<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>videojs</title>
    <link rel="stylesheet" href="static/css/video-js.min.css">
    <script src="static/js/video.min.js"></script>
    <script src="static/js/videojs-flash.min.js"></script>

</head>
<body>

<video id="my-video" class="video-js" controls data-setup="{}" width="640" height="480">
    <source src="rtmp://192.168.1.5:1935/demo/stream-1" type="rtmp/flv">
{{/*    <source src="http://127.0.0.1:1935/live?port=" type="rtmp/flv">*/}}
</video>


</body>

</html>