{{ define "index/index.html" }}
    {{template "layout/header" .}}
    <div>
        <a href="/register/equipment">设备注册</a>
        <br>
        <a href="/register/equipmentType">设备类型注册</a>
        <br>
        <a href="/register/equipmentGroup">设备组注册</a>
        <br>
        <a href="/manager/equipment">设备管理</a>
        <br>
        <a href="/display/equipment?equipmentID=">单个设备状态展示</a>
        <br>
        <a href="/display/allEquipments">所有设备状态展示</a>
    </div>

    </body>
    </html>
{{ end }}
