{{ define "index/index.html" }}
    {{template "layout/header" .}}
    <div>
        <a href="/register/equipment">设备注册</a>
        <br>
        <a href="/register/equipmentType">设备类型注册</a>
        <br>
        <a href="/register/equipmentGroup">设备组注册</a>
        <br>
        <a href="/manager/equipment">设备管理</a>
        <br>
        <a href="/display/equipment?equipmentID=">单个设备状态展示</a>
        <br>
        <a href="/display/allEquipments">所有设备状态展示</a>
        <br>
        <a href="/register/camera">监控摄像机注册</a>
        <br>
        <a href="/display/camera">监控页面</a>
        <br>
        <a href="/display/aiCamera">智能监控页面</a>
        <br>
        <a href="/display/dataCenter">数据中心websocket连接状态</a>
        <br>
        <a href="/register/sensor">传感器注册</a>
        <br>
        <a href="/manager/sensor">传感器管理</a>
        <br>
        <a href="/display/allSensors">环境监测页面</a>
    </div>

    </body>
    </html>
{{ end }}
