{{ define "register/camera.html" }}
    {{template "layout/header" .}}
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                此页面会同时注册普通监控摄像机与智能监控摄像机。
            </div>
            <form id="cameraRegistrationForm">
                <div class="form-group">
                    <label for="camera_id">监控摄像机ID</label>
                    <input type="number" class="form-control" id="camera_id" name="camera_id">
                </div>
                <div class="form-group">
                    <label for="camera_name">监控摄像机名称</label>
                    <input type="text" class="form-control" id="camera_name" name="camera_name">
                </div>
                <div class="form-group">
                    <label for="camera_host">监控摄像机地址</label>
                    <input type="text" class="form-control" id="camera_host" name="camera_host">
                </div>
                <div class="form-group">
                    <label for="description">监控摄像机描述</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <button type="button" class="btn btn-primary" id="button" onclick="send();">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <script>
        function send() {
            $.ajax({
                type: "post",
                url: "/register/camera",
                data: $("#cameraRegistrationForm").serialize(),
                success: function (res) {
                    alert(res.message)
                },
                error: function (err) {
                    alert(err)
                }
            })
        }
    </script>
    </body>
    </html>
{{ end }}
