{{ define "display/allEquipments.html" }}
    {{template "layout/header" .}}
    <table class="table table-striped">
        <thead style="font-size:3px">
        <tr>
            <td>设备ID</td>
            <td>运行时长</td>
            <td width="15%">CPU使用率</td>
            <td>CPU平均使用率</td>
            <td>磁盘可用大小（GB）</td>
            <td>内存使用率</td>
            <td>内存可用大小（GB）</td>
            <td>网络丢包数（进）</td>
            <td>网络丢包数（出）</td>
            <td>网络发送流量（GB）</td>
            <td>网络接收流量（GB）</td>
            <td>数据更新时间</td>
        </tr>
        </thead>
        <tbody style="font-size:3px">
        {{range .equipments}}
            <tr id="{{.EquipmentID}}">
                <td class="equipment_id">{{.EquipmentID}}</td>
                <td class="running_time">--</td>
                <td class="cpu_per_utilization">--</td>
                <td class="cpu_average_utilization">--</td>
                <td class="disk_available">--</td>
                <td class="memory_utilization">--</td>
                <td class="memory_available">--</td>
                <td class="network_drop_in">--</td>
                <td class="network_drop_out">--</td>
                <td class="network_send_gigabytes">--</td>
                <td class="network_receive_gigabytes">--</td>
                <td class="updated_at">--</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <script type="text/javascript">
        let wsServer = "ws://127.0.0.1:9091/ws";
        // let wsServer = "ws://10.211.55.10:9091/ws";
        // let wsServer = "ws://119.28.16.179:9091/ws";
        startWebsocket();

        function startWebsocket() {
            let websocket = new WebSocket(wsServer);
            let requestMessage = JSON.stringify({"request_type": 33, "equipment_ids": {{.equipmentIDs}}})
            // let requestMessage = JSON.stringify({"request_type": 33, "equipment_ids": [1,2,3,4,5,6,7,9879,76898,8706,3242,1231,54325,547]})
            websocket.onopen = function (evt) {
                websocket.send(requestMessage)
                console.log("Connected to WebSocket server.");
            };

            websocket.onclose = function (evt) {
                console.log("Disconnected");
            };

            websocket.onmessage = function (evt) {
                let equipmentStatusStream = JSON.parse(evt.data)
                if (equipmentStatusStream["data_type"] === 0) {
                    if (equipmentStatusStream["success"]) {
                        console.log("webSocket连接成功");
                    }
                } else {
                    let equipmentIDs = {{.equipmentIDs}};
                    for (let i = 0; i < equipmentIDs.length; i++) {
                        let equipmentStatus = equipmentStatusStream["status_stream"][equipmentIDs[i]];
                        if (equipmentStatus != undefined) {
                            $.each($("#" + equipmentIDs[i]).children(), function (key, value) {
                                if (key === 0) {
                                    return
                                }
                                if (value.className.indexOf("cpu") >= 0) {
                                    $(value).text(equipmentStatus["cpu"][value.className]);
                                } else if (value.className.indexOf("disk") >= 0) {
                                    $(value).text(equipmentStatus["disk"][value.className]);
                                } else if (value.className.indexOf("memory") >= 0) {
                                    $(value).text(equipmentStatus["memory"][value.className]);
                                } else if (value.className.indexOf("network") >= 0) {
                                    $(value).text(equipmentStatus["network"][value.className]);
                                } else if (value.className === "running_time") {
                                    $(value).text(sec2DayHourMinSec(equipmentStatus[value.className]));
                                } else if (value.className === "updated_at") {
                                    $(value).text(timestamp2datetime(equipmentStatus[value.className] * 1000));
                                } else {
                                    $(value).text(equipmentStatus[value.className]);
                                }
                            })
                        } else {
                            console.log("设备" + equipmentIDs[i] + "没有数据推送")
                        }
                    }
                }
            };
            websocket.onerror = function (evt, e) {
                console.log('Error occured: ' + evt.data);
            };
        }

    </script>
    </body>
    </html>
{{ end }}
