{{ define "display/equipment.html" }}
    {{template "layout/header" .}}

    <body>
    <table class="table table-striped">
        <thead style="font-size:3px">
        <tr>
            <td>设备ID</td>
            <td>类型</td>
            <td>mac地址1</td>
            <td>mac地址2</td>
            <td>ip地址1</td>
            <td>ip地址2</td>
            <td>网卡1</td>
            <td>网卡2</td>
            <td>描述信息</td>

            <td>网络名称</td>
            <td>系统版本</td>
            <td>当前登录用户</td>
            <td>主机地址</td>
            <td>CPU核心数</td>
            <td>磁盘大小</td>
            <td>内存大小</td>

            <td>启动时间</td>
            <td>注册时间</td>
            <td>更新时间</td>
        </tr>
        </thead>
        <tbody style="font-size:3px">
        <tr>
            <td>{{.equipment.EquipmentID}}</td>
            <td>{{.equipment.EquipmentType}}</td>
            <td>{{.equipment.NetworkMac1}}</td>
            <td>{{.equipment.NetworkMac2}}</td>
            <td>{{.equipment.NetworkIP1}}</td>
            <td>{{.equipment.NetworkIP2}}</td>
            <td>{{.equipment.NetworkCard1}}</td>
            <td>{{.equipment.NetworkCard2}}</td>
            <td>{{.equipment.Description}}</td>

            <td>{{.equipment.NetworkName}}</td>
            <td>{{.equipment.Platform}}</td>
            <td>{{.equipment.User}}</td>
            <td>{{.equipment.Host}}</td>
            <td>{{.equipment.CPUCount}}</td>
            <td>{{.equipment.DiskSize}}</td>
            <td>{{.equipment.MemorySize}}</td>

            <td>{{.equipment.BootTime}}</td>
            <td>{{.equipment.CreatedAt}}</td>
            <td>{{.equipment.UpdatedAt}}</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead style="font-size:3px">
        <tr>
            {{/*            <td>设备ID</td>*/}}
            <td>运行时长</td>
            <td width="15%">CPU使用率</td>
            <td>CPU平均使用率</td>
            {{/*            <td>磁盘使用大小（GB）</td>*/}}
            <td>磁盘可用大小（GB）</td>
            <td>内存使用率</td>
            <td>内存可用大小（GB）</td>
            <td>网络丢包数（进）</td>
            <td>网络丢包数（出）</td>
            <td>网络发送流量（GB）</td>
            <td>网络接收流量（GB）</td>
            <td>数据更新时间</td>
        </tr>
        </thead>
        <tbody style="font-size:3px">
        <tr id="{{.equipment.EquipmentID}}">
            <td id="running_time">--</td>
            <td id="cpu_per_utilization">--</td>
            <td id="cpu_average_utilization">--</td>
            {{/*            <td id="disk_used">--</td>*/}}
            <td id="disk_available">--</td>
            <td id="memory_utilization">--</td>
            <td id="memory_available">--</td>
            <td id="network_drop_in">--</td>
            <td id="network_drop_out">--</td>
            <td id="network_send_gigabytes">--</td>
            <td id="network_receive_gigabytes">--</td>
            <td id="updated_at">--</td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        let wsServer = "ws://127.0.0.1:9091/ws";
        // let wsServer = "ws://10.211.55.10:9091/ws";
        // let wsServer = "ws://119.28.16.179:9091/ws";
        let websocket = new WebSocket(wsServer);
        {{/*let requestMessage = JSON.stringify({"request_type": 31, "equipment_id": {{.equipment.EquipmentID}}})*/}}
        let requestMessage = JSON.stringify({
            "request_type": 33, "equipment_ids": {{.equipment_ids}}
        })

        websocket.onopen = function (evt) {
            websocket.send(requestMessage)
            console.log("Connected to WebSocket server.");
        };

        websocket.onclose = function (evt) {
            console.log("Disconnected");
        };
        // setInterval(function () {
        //    websocket.send("websocket i am client" + Math.floor(Math.random() * 10000))
        // }, 5000);
        // websocket.onmessage = function (evt) {
        //     console.log(JSON.parse(evt.data));
        // };
        websocket.onmessage = function (evt) {
            let equipmentStatusStream = JSON.parse(evt.data);
            if (equipmentStatusStream["data_type"] === 0) {
                if (equipmentStatusStream["success"]) {
                    console.log("webSocket连接成功");
                }
            } else {
                let equipmentIDs = {{.equipment_ids}};
                let equipmentStatus = equipmentStatusStream["status_stream"][equipmentIDs[0]];
                if (equipmentStatus != undefined) {
                    $.each($("#" + equipmentIDs[0]).children(), function (key, value) {
                        if (value.id.indexOf("cpu") >= 0) {
                            $(value).text(equipmentStatus["cpu"][value.id])
                        } else if (value.id.indexOf("disk") >= 0) {
                            $(value).text(equipmentStatus["disk"][value.id])
                        } else if (value.id.indexOf("memory") >= 0) {
                            $(value).text(equipmentStatus["memory"][value.id])
                        } else if (value.id.indexOf("network") >= 0) {
                            $(value).text(equipmentStatus["network"][value.id])
                        } else if (value.id.indexOf("running_time") >= 0) {
                            $(value).text(sec2DayHourMinSec(equipmentStatus[value.id]))
                        } else {
                            $(value).text(equipmentStatus[value.id])
                        }
                    })
                } else {
                    console.log("设备" + equipmentIDs[0] + "没有数据推送")
                }
            }
        };
        websocket.onerror = function (evt, e) {
            console.log('Error occured: ' + evt.data);
        };

    </script>
    </body>
    </html>
{{ end }}
